$mobile: new-breakpoint(max-width 700px 4);

#book-now {
  padding: 1em;
  border: #888 solid 2px;
  border-radius: 4px;
}

.form {
  @include outer-container;
  &> label {
    @include row();
    vertical-align: middle;

    .form-label {
      @include span-columns(3);
      text-align: right;
      @include media($mobile) {
        @include span-columns(4);
        text-align: left;
      }
    }
    input[type="text"], input[type="email"], input[type="tel"]{
      color: #222;
      @include span-columns(9);
      @include omega();
      @include media($mobile) {
        @include span-columns(4);
      }
    }
  }

  .button-full{
    width: 100%;
    max-width: 40em;
    margin-top: 1em;
  }
}