.hero {
  $hero-background-top: rgba(27, 27, 27, 0.7);
  $hero-background-bottom: rgba(27, 27, 27, 0.7);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../img/laptop_whiteboard_copy.jpg';
  $hero-image-960: '../img/laptop_whiteboard_copy-960.jpg';
  $hero-image-1000: '../img/laptop_whiteboard_copy-1000.jpg';
  $hero-image-1280: '../img/laptop_whiteboard_copy-1280.jpg';
  $hero-image-1500: '../img/laptop_whiteboard_copy-1500.jpg';
  $hero-image-2000: '../img/laptop_whiteboard_copy-2000.jpg';
  $hero-image-2250: '../img/laptop_whiteboard_copy-2250.jpg';
  $hero-image-2500: '../img/laptop_whiteboard_copy-2500.jpg';

  @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-1500) no-repeat center center scroll);
  background-size: cover;

  @media only screen and (min-width : 2501px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 2500px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-2500) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 2250px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-2250) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 2000px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-2000) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 1500px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-1500) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 1280px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-1280) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 1000px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-1000) no-repeat center center scroll);
    background-size: cover;
  }
  @media only screen and (max-width : 960px) {
    @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image-960) no-repeat center center scroll);
    background-size: cover;
  }

  padding-bottom: 4em;
  min-height: 100vh;
  height: 100%;

  .hero-logo svg{
    height: 10em;
    margin-bottom: 2.5em;
    background: #fff;
    border-radius: 20px;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
        }
      }
    }
  }
}
