.is-250x250 {
	width: 250px;
	height: 250px;
}

.svg-logo {
	height: 100%;
	max-height: 2.6rem;
}


a.simple{
	color: $info !important;
	font-weight: 500;
	text-decoration: underline;
	&:hover{
		color: darken($info, 20) !important;
	}
}

a.button.is-text span i.fa {
	text-decoration: none !important;
}