/* wrapper */
.has-dropdown input[type="checkbox"] {
	display: none;
}

.has-dropdown input[type="checkbox"]:checked ~ .dropdown {
	display: block;
}

.has-dropdown input[type="checkbox"]:checked ~ a label span.caret {
	display: inline-block;
	transform: rotateX(180deg);
}

.nav-item.is-tab.has-dropdown {
	padding-bottom: calc(0.5rem - 1px);
	padding-top: calc(0.5rem - 1px);

	/* remove padding to avoid unhandled clicks on empty space of button */
	a label {
		display: inline-block;
		padding: 0;
	}

	.dropdown-label {
		text-align: left;
		label {
			width: 100%;
			display: block;
			display: inline-flex;
			justify-content: space-between;
		}
	}
}

/* dropdown basic */
.dropdown {
	color: $text !important;
	display: none;
	padding: calc(1rem / 2);
	position: absolute;
	top: 49px;
	z-index: 9999;
	border-radius: 0;
}

/* dropdown optional styling */
.dropdown li:hover {
	background-color: #eee;
	cursor: pointer;
}

.nav-item a,
div.nav-item {
	color: $text-light;
	&:hover {
		color: $link-hover;
	}
	// Modifiers
	&.is-active {
		color: $link-active;
	}
	&.is-tab {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		&:hover {
		border-bottom-color: $primary;
		border-top-color: transparent;
		}
		&.is-active {
		border-bottom: 3px solid $primary;
		color: $primary;
		padding-bottom: calc(0.5rem - 3px);
		}
	}
}